.right-panel {
  @extend .panel;
  margin-right: 5px;

  .new-widget {
    animation: opacity-in 0.6s ease-in;
  }
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
