// Define the theme variables

* {
  font-weight: 500;
  transition: all 0.2s;
}

@mixin module {
  background: $background-transparent;
  color: $foreground;
  min-height: 1px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  font-size: $FONT-SIZE;
  text-shadow: none;
  padding: ($SCALE - 5) / 5 $SCALE / 1.5;
  margin: 0;

  .image {
    border-radius: 10px;
  }
}

@mixin button {
  @include module;
  border: none;
  min-width: $phi * 15 + px;

  padding: $SCALE / 2 $SCALE / 1.5;

  background: $background-semi-transparent;

  &:hover {
    background: $background;
    text-shadow: $foreground 0 0 1px;
  }
  &:checked {
    background: $foreground-secondary;
    color: $background;
  }

  & .picture {
    all: unset;
  }
}

.icon,
button {
  font-size: $ICON-SIZE;
  font-family: "JetBrainsMono NFP";
  color: $foreground;
}

button,
.button {
  @include button;
}

.toggle {
  border: none;
  padding: 0px;
  @include button;
}

.dialog {
  @include module;
}

filechooserbutton * {
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
}

.danger {
  background: $red;
  color: $foreground;
  &:hover,
  &:checked {
    background: rgba($red, 0.8); // Pre-calculated hover and checked state
  }
}

.success {
  background: $green;
  color: $foreground;
  &:hover,
  &:checked {
    background: rgba(
      $green,
      $phi-min
    ); // Pre-calculated hover and checked state
  }
}

.secondary {
  color: $secondary;
}

entry {
  padding: $SCALE / $phi;
  border-radius: 10px;
  color: $foreground;
  background: $background-semi-transparent;
  border: unset;
  &:focus {
    box-shadow: unset;
  }
}

separator {
  border-top: 1px solid $tertiary;
}

// menu {
//   @include module;
//   border-radius: 0;
//   background: $background;
//   padding: 0;
//   menuitem {
//     border-radius: 0;
//     padding: 0;
//     margin: 0;
//     &:hover {
//       background: $secondary;
//     }
//   }
// }

levelbar {
  margin: 0;
  padding: 0;
  trough {
    background: $background-transparent;
    color: black;
    min-height: 5px; // Match slider's min-height
    padding: 0px; // Match slider's padding
    border-radius: 10px; // Match slider's border-radius

    .filled {
      background: $secondary; // Match slider's highlight background
      border-radius: 10px; // Match slider's border-radius
      box-shadow: none; // Remove shadow to match slider
      border: unset;
    }
  }

  &:hover .filled {
    background: $tertiary; // Match slider's hover highlight
  }
}
switch {
  @include module;
  margin: 0;
  padding: 0;
  slider {
    @extend .slider;
  }
}

scrollable > * {
  border-width: 0;
}

scrollbar {
  border-radius: 8px;
  background: transparent;
  min-width: 8px; /* vertical */
  min-height: 8px; /* horizontal */

  trough {
    color: $foreground;
  }
}

.switch {
  @include module;
  margin: 0;
  padding: 0;
  slider {
    border-radius: 10px;
    font-size: 0.9em;
    margin: 5px;
    background: mix($foreground, $secondary, $phi-min);
  }
}

.slider {
  padding: 0px;

  trough {
    background: $background-transparent;
    color: black;
    min-height: 6.9px;
    padding: 0px;

    slider {
      background: transparent;
      min-height: 0px;
      min-width: 0px;
      margin: 0px;
    }

    highlight {
      background: $secondary;
    }
  }

  &:hover highlight {
    background: $tertiary;
  }
}

.custom-revealer {
  @include button;

  .slider {
    margin: 0px 5px;
  }

  .trigger {
    // @include button;
    padding: 0px 5px;
  }
}

popover > * {
  all: unset;
  @include module;
}
