.bar {
  @include module;
  border-radius: 0px 0px 10px 10px;

  padding: 5px;
  background: $background-transparent;

  &.compact {
    button,
    .custom-revealer {
      background-color: transparent;
    }

    /* Currently focused workspace */
    button.is-focused {
      background-color: $background-transparent;
      // min-width: 50px;
    }
  }
}
