.bar {
  border-radius: 50px;
  padding: 5px;
  background: $background-transparent;

  .module {
    padding: ($SCALE - 5) / 5 $SCALE / 1.5;
  }

  // popover {
  //   .module {
  //     // padding: unset;
  //     padding: 100px !important;
  //   }
  // }

  &.full {
    background: $background-transparent;
  }

  &.empty {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
}
