.bar {
  @include module;
  &.top {
    border-radius: 0px 0px 10px 10px;
  }
  &.bottom {
    border-radius: 10px 10px 0px 0px;
  }

  padding: 5px;
  background: $background-transparent;

  &.compact {
    button,
    .custom-revealer {
      background-color: transparent;
    }

    /* Currently focused workspace */
    button.is-focused {
      background-color: $background-transparent;
      // min-width: 50px;
    }
  }
}
