.bar {
  border-radius: 10px;

  &.full {
    padding: 5px;
    background: $background-transparent;
  }

  &.empty {
    .workspaces,
    .information,
    .utilities {
      background-color: $background-transparent;
      border-radius: 50px;
      padding: 5px 10px;
    }
  }

  // Style the panel trigger inside the first child (revealer) of .bar
  > :first-child .panel-trigger {
    border-radius: 50px 30px 30px 50px;
  }

  // Style the panel trigger inside the last child (revealer) of .bar
  > :last-child .panel-trigger {
    border-radius: 30px 50px 50px 30px;
  }
}
