.information {
  popover {
    background: transparent;
  }


  .clock {
    .revealer {
      padding-right: 5px;
    }
  }

  .keyboard-layout {
    @include module;
    min-width: 2.2em;
  }

  .client-title {
    @include module;
  }
}
