.bar-right {
  .system-tray {
    border-radius: 10px;
    padding: 0px;
    .tray-icon * {
      border-radius: 0px;
    }
    .tray-icon:first-child * {
      border-radius: 10px 0px 0px 10px;
    }
    .tray-icon:last-child * {
      border-radius: 0px 10px 10px 0px;
    }
    .tray-icon:only-child * {
      border-radius: 10px;
    }
  }
}

.battery {
  .details {
    padding: 0px 5px;
  }

  levelbar > * {
    min-height: 1px;
    margin: 5px;
  }

  .charging {
    background: $green;
  }
  .low {
    background: $red;
  }
}
