.bar-right {
  .system-tray {
    background-color: $background-semi-transparent;
    border-radius: 10px;
    padding: 0px;
    button {
      background: transparent;
      &:hover {
        background: $background-semi-transparent;
      }
    }
    button {
      border-radius: 0px;
    }
    button:first-child {
      border-radius: 10px 0px 0px 10px;
    }
    button:last-child {
      border-radius: 0px 10px 10px 0px;
    }
    button:only-child {
      border-radius: 10px;
    }
    popover {
      @extend .module;
      margin-top: 10px;
      border-radius: 10px;
      background-color: $background-semi-transparent;
    }
  }
}

.battery {
  .details {
    padding: 0px 5px;
  }

  levelbar > * {
    min-height: 1px;
    margin: 5px;
  }

  .charging {
    background: $green;
  }
  .low {
    background: $red;
  }
}
