.bar-left {
  .actions {
    button {
      border-radius: 0px;
    }
    button:first-child {
      border-radius: 10px 0px 0px 10px;
    }
    button:last-child {
      border-radius: 0px 10px 10px 0px;
    }
  }
  .workspaces {
    border-radius: 10px;
    .workspace-group {
      border-radius: 10px;
      &.active {
        background-color: $background-transparent;
      }
      &.inactive button {
        background: transparent;
        padding: 0px;
      }
      button {
        border-radius: 0px;
      }
      button:first-child {
        border-radius: 10px 0px 0px 10px;
      }
      button:last-child {
        border-radius: 0px 10px 10px 0px;
      }
      button:only-child {
        border-radius: 10px;
      }
    }
    button {
      background: transparent;
      ////////////////////////////
      &.focused {
        background: $background-semi-transparent;
        animation: workspace-focus 1s;
      }
      &.same-focused {
        background: $background-semi-transparent;
      }
      &.unfocused {
        background: $background-transparent;
        animation: workspace-unfocus 1s;
      }
      &.new-app {
        @extend .danger;
      }
    }
  }
}

@keyframes workspace-focus {
  0% {
    background: $background-transparent;
  }
  100% {
    background: $background-semi-transparent;
  }
}

@keyframes workspace-unfocus {
  0% {
    background: $background-semi-transparent;
  }
  100% {
    background: $background-transparent;
  }
}
