.waifu {
  border-radius: 10px;
  .image {
    // margin: 5px;
    // border-radius: 10px;
  }

  .bottom {
    border-radius: 10px;
    .action-trigger {
      padding: 5px;
    }

    .bottom-bar:hover {
      background: $background-secondary;
    }
    .bottom-bar {
      background: $background-semi-transparent;
      margin-top: $phi * 2 + px;
      border-radius: 10px;
      entry {
        border-radius: 0px;
        padding: 0px;
        margin: 0px;
      }

      button {
        border-radius: 0px;
      }

      .bottom button {
        &:first-child {
          border-radius: 0px 0px 0px 10px;
        }
        &:last-child {
          border-radius: 0px 0px 10px 0px;
        }
      }
    }
  }
}
