.waifu {
  border-radius: 10px;

  &:hover .image {
    opacity: $phi-min;
  }

  $section-count: 5;
  $section-delay: 80ms;

  &:hover {
    @for $i from 1 through $section-count {
      .actions .section:nth-child(#{$i}) {
        opacity: 1;
        transition-delay: $section-delay * ($i - 1);
      }
    }
  }

  &:not(:hover) {
    @for $i from 1 through $section-count {
      .actions .section:nth-child(#{$i}) {
        transition-delay: $section-delay * ($i - 1);
        opacity: 0;
      }
    }
  }

  .actions {
    margin: $phi * 2 + px;
    border-radius: 10px;
    entry {
      border-radius: 0px;
      padding: 0px;
      margin: 0px;
    }

    .section {
      border-radius: 10px;

      &:hover {
        background: $background-secondary;
      }
    }

    button {
      border-radius: 0px;
    }

    button {
      &:first-child {
        border-radius: 10px 0px 0px 10px;
      }
      &:last-child {
        border-radius: 0px 10px 10px 0px;
      }
    }
  }
}
