.app-launcher {
  @include module;
  padding: 10px;
  border-radius: 10px;
  min-width: 500px;

  .quick-apps {
    button {
      padding: 6px;
      &:focus {
        background: $secondary;
      }
    }
  }

  .icon {
    margin: 5px 10px;
  }

  .results {
    button {
      padding: 10px;
      .argument {
        color: $secondary;
      }
      &:focus {
        background: $secondary;

        // &.checked {
        //   background: $secondary;
        //   .argument {
        //     color: white;
        //   }
        // }
      }
      &.checked {
        .argument {
          color: $tertiary;
        }
      }
    }
  }
}
