.app-launcher {
  @include module;

  min-width: 45em;

  .help {
    popover {
      @include module;
    }
  }
  .results {
    button {
      padding: 1em;
      .argument {
        color: $secondary;
      }
      &:focus {
        background: $secondary;
      }
      &.checked {
        .argument {
          color: $tertiary;
        }
      }
    }
  }
}
