.image-dialog {
  @include module;
  padding: 0px;

  $section-count: 2;
  $section-delay: 80ms;

  &:hover {
    background-color: $background-secondary;
    .image {
      opacity: $phi-min;
    }

    @for $i from 1 through $section-count {
      .actions .section:nth-child(#{$i}) {
        opacity: 1;
        transition-delay: $section-delay * ($i - 1);
      }
    }
  }

  &:not(:hover) {
    @for $i from 1 through $section-count {
      .actions .section:nth-child(#{$i}) {
        transition-delay: $section-delay * ($i - 1);
        opacity: 0;
      }
    }
  }

  .actions {
    padding: 10px;

    border-radius: 8px;

    .section {
      border-radius: 10px;
      background-color: $background-semi-transparent;
      &:hover {
        background-color: $background-secondary;
      }
      button {
        @include button;
        border-radius: 0px;
      }

      button {
        &:first-child {
          border-radius: 10px 0px 0px 10px;
        }
        &:last-child {
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
  }
}
