.keybind {
  .binding {
    border-color: $foreground-secondary;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 5px solid;

    font-size: 0.8rem;
    min-width: 0px;

    // &:hover {
    //   border-bottom: 10px solid;
    //   transform: border;
    // }
  }
}
