.notification-history {
  .notification-stack {
    @include module;
    padding: 0px;
    background: transparent;

    &:hover {
      background-color: $background-transparent;
      .stack-header {
        .actions button {
          opacity: 1;
        }
      }
    }

    .stack-header {
      padding: 5px 5px 0px 5px;
      .stack-title {
        font-weight: bold;
        font-size: 0.9em;
      }
      .actions button {
        border-radius: 10px 10px 0px 0px;
        opacity: 0;

        &:hover {
          border-radius: 10px;
        }
      }
    }
  }
}
