.player {
  @extend .module;
  padding: 0px;

  background-color: $background-secondary;

  &.widget {
    .bottom-bar:hover {
      background-color: $background-secondary;
    }

    .bottom-bar {
      background: $background-semi-transparent;
      padding: 5px;
    }
  }

  &.popup {
    .img {
      margin: 5px;
    }
  }

  .img {
    border-radius: 10px;
  }

  .bottom-bar {
    border-radius: 10px;
    margin: 5px;

    .title {
      color: $secondary;
      font-weight: 700;
    }

    .artist {
      font-size: 0.9em;
      font-weight: 400;
    }

    .time {
      font-size: 0.8em;
      font-weight: 400;
    }
  }

  button {
    padding: $SCALE - 10 $SCALE;
    background: transparent;
    &:hover {
      background: $background;
    }
  }
}
