.player {
  @extend .module;

  background-color: $background-secondary;

  &.widget {
    .bottom-eventbox:hover {
      .bottom-bar {
        background-color: $background-secondary;
      }
    }
    .bottom-bar {
      background: $background-semi-transparent;
      padding: 5px;
    }
  }

  .img {
    border-radius: 10px;
    overflow: hidden; /* must stay here */
  }

  .bottom-bar {
    border-radius: 10px;

    .title {
      color: $secondary;
      font-weight: 700;
    }

    .artist {
      font-size: 0.9em;
      font-weight: 400;
    }

    .time {
      font-size: 0.8em;
      font-weight: 400;
    }
  }

  button {
    padding: $SCALE - 10 $SCALE;
    background: transparent;
    &:hover {
      background: $background;
    }
  }
}
