.screenshot-eventbox:hover {
  background-color: $background-secondary;
  border-radius: 1rem;
}

.screenshot-widget {
  @include module;
  background-color: $background-transparent;
  padding: 1rem;
}
