.user-panel {
  .main {
    @include module;
    padding: 1rem;
  }

  .player {
    min-width: 200px;
  }
  .middle {
    min-width: 300px;
  }
  .date {
    @include module;
    padding: 20px;
    font-size: 3em;
  }
  .profile {
    @include module;
    padding: 33px;

    .profile-picture {
      border-radius: 50%;
      margin-bottom: 1rem;
    }
    .user-name,
    .desktop-env {
      font-size: 1.5em;
      .secondary {
        color: $secondary;
      }
    }
    .up-time {
      color: $grey;
    }
  }
  .system-actions {
    button {
      min-height: 69px;
      min-width: 69px;
      font-size: 2em;
      background: $background-transparent;
      &:hover {
        background: $background;
        text-shadow: $foreground 0 0 1px;
      }
    }
  }
}
