.user-panel {
  .main {
    background: $background-transparent;
    border-radius: 20px;
    padding: 1rem;
  }

  .player {
    min-width: 300px;
  }
  .middle {
    min-width: 400px;
  }
  .date {
    @include module;
    padding: 20px;

    .less {
      font-size: 3em;
    }

    .more {
      font-size: 1.5em;
      .secondary {
        color: $secondary;
      }
    }
  }

  .center {
    border-radius: 100px 100px 10px 10px;
    .profile-picture {
      border-radius: 50%;
      background: transparent;
      min-height: 200px;
      min-width: 200px;
      padding: 0px;
    }
    .image {
      border-radius: 50%;
    }
    .info {
      padding: 10px;
    }
    &:hover {
      background-color: $background;
      .profile-picture {
        box-shadow: $BOX-SHADOW;
      }
    }
  }
  .user-name,
  .desktop-env {
    font-size: 1.5em;
    .secondary {
      color: $secondary;
    }
  }
  .up-time {
    color: $grey;
  }

  .system-action {
    font-size: 4em;
    background: $background-transparent;
    transition: all 0.1s;
    border: transparent 5px solid;

    &:hover {
      background: $background;
      text-shadow: $foreground 0 0 1px;
      border-color: $secondary;
    }

    &.logout {
      border-radius: 30px 10px 10px 10px;
      &:hover {
        // bigger in the top left corner
        transform: matrix(1.1, 0, 0, 1.1, -30, -30);
        border-radius: 50px;
        border-width: 15px 5px 5px 15px;
      }
    }

    &.shutdown {
      border-radius: 10px 30px 10px 10px;
      &:hover {
        // bigger in the top right corner
        transform: matrix(1.1, 0, 0, 1.1, 30, -30);
        border-radius: 50px;
        border-width: 15px 15px 5px 5px;
      }
    }
    &.reboot {
      border-radius: 10px 10px 30px 10px;
      &:hover {
        // bigger in the bottom right corner
        transform: matrix(1.1, 0, 0, 1.1, 30, 30);
        border-radius: 50px;
        border-width: 5px 15px 15px 5px;
      }
    }

    &.sleep {
      border-radius: 10px 10px 10px 30px;
      &:hover {
        // bigger in the bottom left corner
        transform: matrix(1.1, 0, 0, 1.1, -30, 30);
        border-radius: 50px;
        border-width: 5px 5px 15px 15px;
      }
    }
  }
}
