.wallpaper-switcher {
  @include module;

  .wallpaper {
    border-radius: 10px;
  }

  .wallpaper-button {
    background: transparent;
    min-height: 200px;
    min-width: 100px;
    border: none;
    padding: 0px;
    &:hover,
    &.focused {
      min-width: 300px;
      box-shadow: 0px 0px 20px $background-secondary;
    }

    &.preview {
      min-height: 100px;
      min-width: 75px;
      &:hover {
        min-width: 150px;
      }
    }
  }

  .delete-wallpaper {
    @extend .danger;
    margin: 5px;
    padding: 0px;
  }
  .actions {
    .selected-workspace {
      @include button;
    }
    .targets {
      button {
        border-radius: 0px;
      }
      button:first-child {
        border-radius: 50px 0px 0px 50px;
      }
      button:only-child {
        border-radius: 0px;
      }
      button:last-child {
        border-radius: 0px 50px 50px 0px;
      }
    }
  }

  .all-wallpapers {
    // padding: 10px 0px;
  }
}
