.weather {
  .weather-popover {
    min-width: 500px;
  }

  .weather-heading {
    @include module;
    font-weight: bold;
    font-size: 16px;
  }

  .weather-section {
    // @include module;
    color: $foreground;
    border-radius: 10px;
    background: $background-transparent;
    padding: 20px;
    &:hover {
      background-color: $background-secondary;
    }
  }

  .weather-subheading {
    font-weight: bold;
    font-size: 14px;
    margin-top: 8px;
  }

  .weather-icon-large {
    font-size: 48px;
  }

  .weather-temp-large {
    font-size: 32px;
    font-weight: bold;
  }

  .weather-description {
    font-size: 14px;
  }

  .weather-feels-like {
    font-size: 12px;
  }

  // .weather-detail label:first-child {
  // }

  .forecast-label {
    font-size: 11px;
  }

  .forecast-value {
    font-size: 13px;
    font-weight: bold;
  }

  .weather-link {
    font-size: 12px;

    text-decoration: underline;
    margin-top: 8px;
  }

  .weather-link:hover {
    color: $blue;
  }
}
