config/custom/*
!config/custom/.gitkeep

config/defaults/*
!config/defaults/.gitkeep

theme/theme.conf
wallpaper-daemon/config/*
!wallpaper-daemon/config/defaults.conf

# ignore all pycache files
__pycache__/