.left-panel {
  @extend .panel;
  margin-left: 5px;

  * {
    animation: opacity-in 0.6s ease-in;
  }

  .bottom-eventbox:hover .bottom-bar {
    background-color: $background-secondary;
  }
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
