.panel {
  @include module;
  padding: 0px;

  .panel-actions {
    background: $background;
    padding: 5px;
    border-radius: 10px;

    button,
    .icon {
      border-radius: 0px;
      padding: $SCALE $SCALE - 10;
    }

    .widget-actions,
    .window-actions {
      button {
        border-radius: 5px;
      }
      button:first-child {
        border-radius: 10px 10px 5px 5px;
      }

      button:last-child {
        border-radius: 5px 5px 10px 10px;
      }
    }
  }

  .main-content {
    animation: opacity-in 0.6s ease-out;

    > * {
      margin: 5px;
      box-shadow: $BOX-SHADOW;
    }

    .tab-list {
      border-bottom: 1px solid $secondary;
      border-radius: 0px;
      button {
        border-radius: 10px 10px 0px 0px;
        &:hover {
          border-radius: 10px;
        }
      }
    }
  }
}
