.booru {
  .images {
    .image-button {
      border-radius: 15px;
      padding: 0px;

      // &:hover {
      //   box-shadow: 0px 0px 20px 10px white inset;
      //   transition: all 0.2s;
      // }
    }
  }

  .bottom {
    .bottom-bar {
      background: $background-semi-transparent;
      border-radius: 10px;
      padding: 10px;

      .clear {
        @extend .danger;
        font-size: 1em;
      }
      .tags {
        padding-bottom: 10px;
        .applied-tags {
          .explicit {
            background: $red;
          }
          button:hover {
            background: $red;
          }
        }
        .fetched-tags {
          button:hover {
            background: $green;
          }
        }
      }
    }
  }
}
