.booru {
  // .images-container {
  //   position: relative;
  // }

  .images {
    .image-button {
      > button {
        padding: 0px;
      }
    }
  }

  .bottom {
    .bottom-bar {
      background: $background-semi-transparent;

      @include module;
      margin-top: 10px;
      padding: 5px;

      &:hover {
        margin-bottom: 20px;
      }

      .clear {
        @extend .danger;
        font-size: 1em;
      }
      .tags {
        padding-bottom: 10px;
        .applied-tags {
          .explicit {
            background: $red;
          }
          button:hover {
            background: $red;
          }
        }
        .fetched-tags {
          button:hover {
            background: $green;
          }
        }
      }
    }
  }
}
