.chat-bot {
  > .info {
    @extend .module;
    padding: 10px 5px;
    color: $secondary;
  }

  .messages {
    .message:hover {
      background-color: $background-secondary;
    }
    .message {
      @extend .module;
      padding: 5px;

      .image {
        background-position: center;
        background-size: cover;
        border-radius: 10px;
      }
      .copy {
        padding: 5px;
        margin: 5px;
      }

      &.user {
        border-radius: 20px;
      }

      .info {
        padding: 5px;
        font-size: 0.9em;
      }

      .body {
        padding: 10px;
        font-size: 1em;

        .code-block {
          background: $background-transparent;
          border-radius: 10px;
          padding: 10px;
          color: $secondary;

          .copy {
            margin: 0px;
          }
        }
      }
    }
  }

  .bottom-bar {
    border-radius: 50px;
    background: $background-semi-transparent;
    padding: 5px 15px;

    &:hover {
      margin-bottom: 20px;
    }

    entry {
      border-radius: 50px;
      background: transparent;
      border: none;
    }

    .clear {
      @extend .danger;
      padding: 5px;
    }

    .image-generation {
      @extend .button;
      padding: 5px 10px;
      border-radius: 20px;
    }
  }
}
