.manga-viewer {
  .manga-item {
    @include module;
    padding: 0px;

    .manga-info {
      padding: 5px;

      .title {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .description {
        font-size: 1rem;
      }
      .tags {
        font-size: 0.9rem;
      }
    }
  }
  .bottom {
    .bottom-bar {
      background: $background-semi-transparent;

      @include module;
      margin-top: 10px;
      padding: 5px;

      &:hover {
        margin-bottom: 20px;
      }
    }
  }
}
