.settings {
  .category {
    @include module;
    padding: 10px;

    > label {
      font-weight: bold;
      font-size: 1.5em;
    }

    &:hover {
      background: $background-semi-transparent;
    }
  }
}
