.search-bar {
  padding: 0px 5px;

  .search-entry {
    margin: 5px 0px;
    background: transparent;
  }
}

popover.search-bar-popover {
  background: transparent;

  contents {
    background: transparent;
    border: unset;
    box-shadow: unset;
    padding: 0;
  }
}
